.card{
    margin: 0 auto; }


#apiButton{
	background:red;

}

.button{ 
	font-family:;
	color:black;
	background:#2FF924;
}

.font-effect-anaglyph {
	font-family: "anaglyph",sans-serif;
	font-size:55px;
	background:#2FF924;
	color:black;
}
        body {
            font-family: 'Bungee Tint', cursive;
            font-size: 20px;
            text-align: center;
            margin-top: 50px;
        }

